<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input name="title" ngModel required #title="ngModel">
    <button>Submit</button>
  </form>
</div>

<div class="requests">
  <div class="request" *ngFor="let request of requests">
      <div class="delete" (click)="delete(request)">X</div>
      <div class="content" (click)="update_status(request)" >
        <div class="title">{{request.title}}</div>
        <div class="status">{{states[request.status]}}</div>
        <qrcode [qrdata]="request.url" [size]="QRSIZE"></qrcode>
      </div>
  </div>
</div>




